:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.-cmp-text {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;

  align-items: baseline;

  & > b {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    width: 10ch;

    & > .-cmp-text-number {
      margin-left: auto;
      padding-left: 1ch;
      padding-right: 1ch;
    }
  }

  & > input {
    flex: 1 0 auto;
  }
}

.-cmp-text-number {
  font-family: monospace;
  font-size: larger;
}
